.main {
    font-size: 28px;
    width: 50%;
    min-width: 500px;
    margin: auto;
    padding-top: 75px;
}

p {
    font-family: 'Lekton';
    padding: 5px;
}

a {
    font-family: 'Lekton';
    background-color: #FFFFFF;
    color: #6002EE;
    padding: 3px;
    transition: background-color .5s;
    transition-duration: .4s;
}

a:hover {
    color: #FFFFFF;
    background-color: #6002EE;
}

.main p {
    font-family: 'Lekton';
    color: #FFFFFF;
    background-color: #6002EE;
    padding: 10px;
}

.main h1 {
    font-weight: bold;
    font-family: 'Montserrat';
    background-color: #FFFFFF;
    color: #6002EE;
}

.share {
    text-align: center;

}

.footer {
    text-align: center;
    font-size: 18px;
    width: 50%;
    min-width: 500px;
    margin: auto;
}

.button {
    text-align: center;
}

#button {
    border-color: #6002EE;
    color: #6002EE;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: .4s;
}

#button:hover {
    color: #FFFFFF;
    background-color: #6002EE;
}
