.wrapper {
  font-weight:400;
  width: 50%;
  min-width: 500px;
  margin: auto;
  padding-top: 75px;
}

p {
  font-family: 'Lekton';
  color: #FFFFFF;
  background-color: #6002EE;
  padding: 5px 10px;
}

h1 {
  font-weight: bold;
  font-family: 'Montserrat';
  background-color: #FFFFFF;
  color: #6002EE;
}